<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="hibernate.show_sql">true</property>
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>
	<property name="use_sql_comments">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.2.27.2:3306/dmautomation?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">adminLe6GkQv</property>
    <property name="hibernate.connection.password">KNVshyM2d_RL</property>
    <property name="hibernate.connection.pool_size">100</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.connection.autoReconnect">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="netcom.dashboard.db.jpa.*" />
  </session-factory> 
  
  <!--  Oracle DB Connection Parameters -->
  <!--<session-factory>
  	<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  	<property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.36.16:1521:dashboard</property>
  	<property name="hibernate.connection.username">toc</property>
  	<property name="hibernate.connection.password">toc</property>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  	<property name="hibernate.default_schema">TOC</property>
	<property name="hibernate.show_sql">true</property>
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>
	<property name="use_sql_comments">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.pool_size">100</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.connection.autoReconnect">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>  
   
     <property name="hibernate.search.default.directory_provider">filesystem</property> 
     <property name="hibernate.search.default.indexBase">C:\provalog\app\indexes</property> 

    <mapping class="netcom.dashboard.db.jpa.*" />
	
  </session-factory> -->
<!--   <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.datasource">java:/OracleDS</property>
        <property name="hibernate.current_session_context_class">thread</property>
         
        Mapping with model class containing annotations
    	<mapping class="netcom.dashboard.db.jpa.*" />
    </session-factory> -->
<!--   <session-factory name="SessionFactory"> -->
<!--         <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!--         <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
<!--         <property name="hibernate.connection.datasource">java:/MySqlDS</property> -->
<!--         <property name="hibernate.current_session_context_class">thread</property> -->
<!--         <property name="show_sql">true</property> -->
<!--         Mapping with model class containing annotations -->
<!--     	<mapping class="netcom.dashboard.db.jpa.*" /> -->
<!--     </session-factory> -->
</hibernate-configuration>